<ng-container *ngFor="let offering of offerings">
  <ng-container *ngIf="offering.player_type.includes(playerType)">
    <ng-container *ngIf="offering.category_1 == categoryFilter || categoryFilter == 'Show All'">
    <ng-container *ngIf="offering.category_2 == subCategoryFilter || subCategoryFilter == 'None' || subCategoryFilter == 'Show All'">
      <div class="perk row bg-dark m-2">
        <img class="perk-image order-1 col-6 col-sm-2 col-lg-2 col-md-2" src="{{ offering.imageURL }}" />
        <p class="perk-name order-3 order-sm-2 col-4 col-sm-2 col-lg-1 col-md-2 text-light m-auto"><b>
            {{ offering.name }}
          </b></p>
        <p class="perk-description order-4 order-sm-3 col-8 col-sm-5 col-lg-8 col-md-6 m-auto text-light"
          [innerHTML]="sanitizeText(offering.description)">
        </p>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
