<div
  [ngStyle]="{backgroundImage: 'url(../../../assets/images/wallpapers/' + killer + '.jpg)', backgroundRepeat: 'no-repeat', backgroundAttachment: 'fixed', backgroundSize: '100%'}">
  <div class="idcard">
    <div class="card p-4 bg-transparent">
      <div>
        <app-killer-info [killer]="killer" [killerData]="killerData"></app-killer-info>
        <div class="row text-light">
          <div class="col">
            <hr>
          </div>
          <div class="col-auto h4 ">Stats</div>
          <div class="col">
            <hr>
          </div>
        </div>
        <app-killer-stats [relatedAddonFilter]="relatedAddonFilter" (relatedAddonFilterUpdated)="relatedAddonFilterUpdated($event)" [killer]="killer" [killerData]="killerData" [selectedAddons]="selectedAddons" [selectedModifiers]="selectedModifiers"></app-killer-stats>
        <div class="row text-light">
          <div class="col">
            <hr>
          </div>
          <div class="col-auto h4 ">Addons</div>
          <div class="col">
            <hr>
          </div>
        </div>
        <app-killer-addons id="killer-addons" [relatedAddonFilter]="relatedAddonFilter" [killer]="killer" [killerData]="killerData" [selectedModifiers]="selectedModifiers" [selectedAddons]="selectedAddons"></app-killer-addons>
      </div>
    </div>
  </div>
</div>
