<div class="text-light">
  <p class="title w-100 text-center fw-bold p-2">Killer stats</p>
  <table class="table table-striped table-dark table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let attribute of killerData.attributes | keyvalue: sortByTitle">
      <tr *ngIf="asAny(attribute.value).category == 'killer'" [id]="attribute.key">
        <th class="h6 col-md-9" scope="col">{{ asAny(attribute.value).title}} <mat-icon title="Filters list of addons to those that affect this attribute." class="text-warning filter-addons" (click)="filterToRelated(attribute.key)">search</mat-icon></th>
        <td class="h6" scope="row">{{ calculator(attribute.key) }} <small
          class="small text-secondary">{{ asAny(attribute.value).measurement}}</small></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <p class="title w-100 text-center fw-bold p-2">Power stats</p>
  <table class="table table-striped table-dark table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let attribute of killerData.attributes | keyvalue: sortByTitle">
      <tr *ngIf="asAny(attribute.value).category == 'power'" [id]="attribute.key">
        <th class="h6 col-md-9" scope="col">{{ asAny(attribute.value).title}} <mat-icon title="Filters list of addons to those that affect this attribute." class="text-warning filter-addons" (click)="filterToRelated(attribute.key)">search</mat-icon></th>
        <td class="h6" scope="row">{{ calculator(attribute.key) }} <small
          class="small text-secondary">{{ asAny(attribute.value).measurement}}</small></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <p class="title w-100 text-center fw-bold p-2">Score event stats</p>
  <table class="table table-striped table-dark table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Awarded Fixed Ponts</th>
      <th>Awarded Ongoing Ponts</th>
      <th>Cap</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let attribute of killerData.attributes | keyvalue: sortByTitle">
      <tr *ngIf="asAny(attribute.value).category == 'score_events'" [id]="attribute.key">
        <th class="h6 col-md-2" scope="col">{{ asAny(attribute.value).title}} <mat-icon title="Filters list of addons to those that affect this attribute." class="text-warning filter-addons" (click)="filterToRelated(attribute.key)">search</mat-icon></th>
        <td class="h6 col-md-6" [innerHTML]="sanitizeText(asAny(attribute.value).description)"></td>
        <td class="h6" scope="row">{{ calculator(attribute.key, 'awarded_fixed_points') }} <small
          class="small text-secondary">bp</small></td>
        <td class="h6" scope="row">{{ calculator(attribute.key, 'awarded_ongoing_points') }} <small
          class="small text-secondary">bp</small></td>
        <td class="h6" scope="row">{{ calculator(attribute.key, 'cap') }} <small
          class="small text-secondary">bp</small></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
