label{
  color: white;
  margin: auto;
  padding: 10px;
}

.item-selector {
  position: relative;
}

.item-selector select {
  display: none; /*hide original SELECT element:*/
}

.item-selector {
  background-color: black;
  color: white;
  border: none;
}

mat-select {
  padding: 6px 10px 6px 10px;
}

.not-empty-select.mat-selected {
  color: white !important;
}

:host /deep/ .mat-select-value-text {
  color: white !important;
}

/deep/ .mat-select-panel {
  background-color: #212529 ;
}

/deep/ .mat-form-field-infix{
  /* background-color: #6c757d  ; */
  background-color: #212529  ;
}

/deep/ .mat-option-text{
  /* background-color: #6c757d  ; */
  color: #f8f9fa;
}

mat-label{
  color: #aeaeae;
}
