<!--<div class="home-bg">-->
<!--  <div class="home-cards">-->
<!--    <div class="row ">-->
<!--      <div class="col-12 col-md-6">-->
<!--        <div class="m-2 card bg-dark text-light rounded-3 ">-->
<!--          <div class="p-3 perks">-->
<!--            <p class="h5">PERKS/OFFERINGS FINDER</p>-->
<!--            <p class="h6">If you want to find the best perks or offerings for your UNIQUE playstyle, click here</p>-->
<!--            <a class="btn btn-primary">GO TO PERKS/OFFERINGS FINDER</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-12 col-md-6">-->
<!--        <div class="m-2 card bg-dark text-light rounded-3 ">-->
<!--          <div class="p-3 killers">-->
<!--            <p class="h5">KILLER LOADOUT CREATOR</p>-->
<!--            <p class="h6">If you want to find the best setup for your killers based on your UNIQUE playstyle, click here</p>-->
<!--            <a class="btn btn-danger">GO TO KILLER LOADOUT CREATOR</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="home d-flex">
  <div class="perks">
    <div class="w-100 text-center text-light">
      <div class="section-content m-3">
        <p class="h5">PERKS/OFFERINGS FINDER</p>
        <p class="h6">If you want to find the best perks or offerings for your UNIQUE playstyle, click here</p>
        <a routerLink="perks" class="btn btn-primary">GO TO PERKS/OFFERINGS FINDER</a>
      </div>
    </div>
  </div>
  <div class="seperator"></div>
  <div class="killers">
    <div class="w-100 text-center text-light">
      <div class="section-content m-3">
        <p class="h5">KILLERS LOADOUT CREATOR</p>
        <p class="h6">If you want to find the best setup for your killers based on your UNIQUE playstyle, click here</p>
        <a routerLink="killers" class="btn btn-danger">GO TO KILLERS LOADOUT CREATOR</a>
      </div>
    </div>
  </div>
</div>
