p{
  font-size: 0.8rem;
}

.perk{
  border-radius: 20px;

}

.perk-image{
  height: 180px;
  margin: auto;
}

.perk-name{
  text-align: center;
  margin: auto;
}

.perk-description{
  text-align: left;
}

.perk-character{
  height: 180px;
}
